doctype html
html
	head
		link(rel="stylesheet" href="/css-spruce-sh/main.css")
		meta(charset="UTF-8")
	body
		.wrap
			header
				nav
					block logo
						a(href="https://spruce.sh/index" title="Home").minilogo: h1 Spruce
							span .sh
					block navigation
						.main-nav
							a(href="https://spruce.sh/contact" title="Contact")
								| Contact Us
			section.content
				.page-hero
					p: small.text-fade '/spruːs/' — <em>verb</em> — make someone or something smarter or tidier
					block page-hero
				block page-content
			footer.text-fade
				block footer
					p.label Copyright &copy; 2016 Ricky Cook
					p.label ABN 75 697 414 790
					//p.label
						a(href="#" title="Legal") Legal
